.tabcontent{
	display: none;
	padding: 6px 12px;
	border: 1px solid #f1f1f1;
	border-top: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f1f1f1;
	margin-top: 25px;
	
	-webkit-animation: fadein 2s;
	   -moz-animation: fadein 2s;
	    -ms-animation: fadein 2s;
	     -o-animation: fadein 2s;
	        animation: fadein 2s;
}

/*Fadein transition*/
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 0.9; }
}

/*Safari, chrome, opera*/
@-webkit-keyframes fadein {
	from { opacity: 0;}
	to { opacity: 0.9; }
}

/*Firefox*/
@-moz-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 0.9; }
}

/*Internet Explorer*/
@-ms-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 0.9; }
}

/*Opera*/
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 0.9; }
}

.header {
	font-size: 25px;
	padding: 40px;
	color: white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.nav .nav-item {
	overflow: hidden;
	color: white;
	cursor: pointer;
	padding: 13px 12.65px;
	transition: 0.3s;
	font-size: 20px;
	background-color: inherit;
}
 .tabs {
	background-color: #eb5649; 
 }
 
.quote {
	text-align: center;
	font-style: italic;
	font-size: 20px;
	padding: 30px 30px;
	background-color: #716ed4;
	color: white;
}

.nav-item .nav-link:hover {
	background-color:#ddd;
}

.nav-item .nav-link.active {
	background-color: #d6f5d6;
}

body {
	background-image: url("https://farm9.staticflickr.com/8760/17195790401_ceeeafcddb_o.jpg");
}

i {
	color: #eb5649;
}

.media {
	padding-left: 250px;
}

